// Specific CSS for your home-page
.hero {
  background-image: url('https://images.unsplash.com/photo-1529148482759-b35b25c5f217?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2800&q=80');
  width: 100vw;
  height: 84vh;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width:100%;
}

.hero h1 {
  color: $white;
  font-weight: strong;
}

.input-group {
  display: flex;
  align-itens: center;
  justify-content: center;
}

.form-outline {
  width: 50vw;
  height: 40px;
}

h1 {
  font-family: 'Sigmar One', cursive;
}
