<div class="container py-5">
  <%= link_to "Back", storage_space_path(@storage_space)  %>
  <div class="row justify-center">
    <div class="col-6">
      <%= image_tag "https://images.unsplash.com/photo-1600182129474-bd1cbd1c1b48?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2082&q=80", alt: "some storage space img", class: 'form-img' %>
    </div>
    <div class="col-6">
      <h1> Edit <%= @storage_space.name %></h1>
      <%= render 'shared/storage-space-form' %>
    </div>
  </div>
</div>
